
.similarcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.items{
    background-color: rgb(35, 33, 33);
   margin-right: 20px;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    min-width: 20vw;
   
}